@layer reset, base, tokens, recipes, utilities;

:root {
  --font-sans: "LINE Seed JP", sans-serif;
  --font-mono: "UDEV Gothic 35 JPDOC", monospace;
}

html {
  font-size: var(--font-sizes-lg);
}

body {
  font-family: var(--font-sans);
  font-feature-settings: "palt";
}

pre,
code {
  font-family: var(--font-mono);
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  padding-left: 1.3rem;
}
ol {
  display: block;
  list-style-type: decimal;
  padding-left: 1.3rem;
}
li {
  display: list-item;
}
ul ul,
ol ul {
  list-style-type: circle;
}
ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style-type: square;
}

table {
  border: 1px solid;
  th,
  td {
    border: 1px solid;
    padding: var(--spacing-3);
  }
  th {
    border-bottom: 2px solid;
  }
}

/* 768px = md */
@media (width < 768px) {
  html {
    font-size: var(--font-sizes-md);
  }
  article {
    padding-inline: var(--spacing-5);
  }
  .content {
    padding-inline: var(--spacing-10);
  }
}
